* {
    padding: 0;
    margin: 0;
    text-decoration-style: none;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

.parent-container, 
.search.area, 
.searchbar-header, 
.searchbar-header > .user-info, 
.user-greeting, .user.profile,
.user-actions,
.dashboard {
    display: flex;
}

.sidebar {
    background: blue;
    color: white;
    padding: 3%;
    height: 100vh;
}

.logo {
    margin-bottom: 15px;
}

.menu > ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(9, 1fr);
    row-gap: 5px;
}

li {
    list-style: none;
}

/*searchbar */

.searchbar-header, .user.profile {
    justify-content: space-between;
    margin: 20px;
}

input[name="search"] {
    border: none;
    background: lightgrey;
    border-radius: 50px;
}

.search.area, .user.profile {
    gap: 15px;
}

.user-info, .user.profile {
    align-items: center;
    gap: 10px;
}

.profilepic.searchbar{
    width: 40px;
    height: auto;
}

.user.profile {

}
.user-greeting {
    justify-content: space-between;
    gap: 20px;
    margin-top: -15px;
}

.profilepic {
    width: 60px;
    height: 60px;
}

.user-actions {
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    
}

.user-actions > button {
    border: none;
    background: blue;
    color: white;
    padding: 10px;
    width: 80px;
    border-radius: 25px;
}

div.container {
    width: 100vw;
}

div.user-info {
    width: 200px;
    height: 20px;
}

/* projects section */

.dashboard {
    justify-content: space-around;
}

.dashboard.projects {
    display: grid;
    grid-template-areas: 
        "project1 project2"
        "project3 project4"
        "project5 project6"
}

.dashboard.projects h3{
    grid-column: 1/3;
}

.dashboard.projects:nth-child(n) {
    grid-area: project(n);
    
}